# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Py cache
__pycache__/
*.pyc

# Modelos y binarios
*.pkl
*.cbm
*.zip

# VSCode
.vscode/

# Repositorio clonado
Time-Series-Forecasting-Analysis-For-Corporation-Favorita/
